@import 'variables'

html,body
  height: 100%
  font-family: $font-family

.customised-navbar
  background: #121821
  padding: 15px
  border: none

  a.navbar-brand
    color: #fff
    text-decoration: none
    font-size: 30px
    letter-spacing: 0.5px

  #nav-collapse
    font-weight: 300
    letter-spacing: 0.5px

    li
      margin-right: 15px

      a
        color: #fff
      a:hover
        background: none

#main-container
  height: 100%
  width: 100%

  .row
    margin: 0

  span.skills
    display: inline-block
    margin: 5px 2px
    border: 1px solid #00CCCB
    border-radius: 15px
    padding: 7px 18px
    color: #e4e4e4

  #home
    height: 100%
    width: 100%
    background: #121821

    .table-cell
      overflow: hidden
      position: relative

    .circle
      position: absolute
      height: 200px
      width: 200px
      border-radius: 50%
      border: 1px solid rgba(154, 150, 154, 0.65)
      z-index: 1


    @keyframes bounce-animation
      0%, 20%, 50%, 80%, 100%
        transform: translateY(0)
      40%
        transform: translateY(-30px)  
      60%
        transform: translateY(-15px)

    .arrow
      position: absolute
      left: 0
      bottom: 50px
      right: 0
      color: #52a9a8
      z-index: 100

    .bounce
      animation: bounce-animation 2s infinite

  .table-wrapper
    font-size: 35px
    font-weight: 300
    color: #fff

    display: table
    width: 100%
    height: 100%

    .table-cell
      display: table-cell
      vertical-align: middle

      .col-xs-6
        z-index: 50

  .features

    .row
      // background: #121821
      
      .feature-title
        .left-title
          font-weight: 300
          color: #fff
          font-size: 65px
          margin: 0
          line-height: 330px
          letter-spacing: 1px

        @media (min-width: $screen-lg-min)
          .left-title
            line-height: 440px
        

      .feature-detail
        padding: 100px 20px
        background: #F2F2F2

        p
          font-weight: 300
          font-size: 18px
          color: #121821
          margin: 0
          padding: 30px
          

        @media (min-width: $screen-lg-min)
          p
            padding: 100px

  #about
    .row
      background: #121821

  #skills
    .row
      border-top: none
      background: #F2F2F2

      .feature-title
        p
          color: #121821
          letter-spacing: 1px

      .feature-detail
        background: #121821
        padding: 100px 60px
        color: #fff

        h1
          margin-bottom: 40px

        p
          padding: 0
          color: #fff
          font-weight: 100

#projects
  text-align: center

  .wrapper
    padding: 40px
    margin: 0 auto
    background: #eee

    .title
      letter-spacing: 1px
      font-weight: 300

    .row
      .col-xs-12
        margin-bottom: 20px

      .thumbnail
        border: none
        background: #121821
        margin-bottom: 0
        border-radius: 0
        padding: 20px

      .caption
        font-size: 14px
        padding: 20px
        text-align: left
        color: #000
        background: #fff
        letter-spacing: 0.5px
        line-height: 24px

      .caption-tag
        padding: 5px 20px
        text-align: left
        background: #121821
        color: #fff


  @media (min-width: $screen-md-min)
    .wrapper
      padding: 40px 100px

  @media (min-width: $screen-lg-min)
    .wrapper
      padding: 40px 200px

  @media (min-width: 1500px)
    .wrapper
      padding: 40px 300px

#modalPicture
  background: rgba(255,255,255,0.9)

  .row
    .col-xs-12.text-right
      padding: 20px

      .close
        opacity: 0.8
  h1
    color: #39444C
    letter-spacing: 0.5px
    font-weight: 300

  .thumbnail
    border: none
    background: transparent
    // border-radius: 0

#footer
  background: #fafafa
  padding: 20px 0
  min-height: 60px
  text-align: left
  color: #797979
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.5px

  h4
    letter-spacing: 1px
    font-weight: 300
    color: #232323
  
  a
    color: inherit




